<section id="saturday-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Standesamtliche Trauung am 18.09.2020</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">

                Den bürokratischen Teil einer Eheschließung zelebrieren Adina und Gunnar im kleinen
                Familienkreis am 18.09.2020 in der Jakobs Kemenate in Braunschweig.
                    <br><br>
                    <dt>11.15 Uhr</dt>
                    <dd>Standesamtliche Trauung in der <a href="https://www.kemenaten-braunschweig.de/" target="_blank">
                        Jakob Kemenate </a> in Braunschweig:
                        <address>
                            Eiermarkt 1 B <br>
                            38100 Braunschweig <br>
                            Tel. 0531-1238450
                        </address>
                    </dd>
                    <dt>Parken</dt>
                    <dd>???
                    </dd>
                    <dt>12 Uhr</dt>
                    <dd>Sektempfang mit anschließendem gemeinsamen Spaziergang zu...</dd>
                    <dt>13 Uhr</dt>
                    <dd>
                        Mittagessen im ...
                    </dd>
                    <dt>???</dt>
                    <dd>???
                        ????
                    </dd>
                    <dt>???</dt>
                    <dd>????e</dd>
                    <dt>????</dt>
                    <dd>
                        Über Hochzeitsgeschenke freuen wir uns am 18.09.2021 anlässlich
                        unserer Hochzeitsfeier.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>


<section id="event" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Hochzeitsfeier am 21.09.2021</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                Exakt ein Jahr nach ihrer standesamtlichen Trauuung, am Samstag,
                den 18. September 2021, feiern Adina und Gunnar mit freier Trauung
                und in großer Runde im Braunschweiger MMI Hotel in Riddagshausen. <br><br>
                    <dt>14 Uhr</dt>
                    <dd>
                        Freie Trauung im ehemaligen ehemaligen Schafstall,
                        im Außenbereich des MMI. Wir hoffen auf gutes Wetter, ansonsten
                        wird es eine Schlammschlacht 💩 (kleiner Scherz - ansonsten sind wir
                        in der Lobby des Hotels)
                    </dd>
                    <dt>15 Uhr</dt>
                    <dd>Sektempfang (endlich Alkohol!).
                        Wer zu viel Sekt trink fällt in den Bachlauf und wird ausgelacht.
                    </dd>
                    <dt>15.30 Uhr</dt>
                    <dd>
                        Kaffee und Kuchen (endlich Kuchen!) im Wintergarten und auf der Terrasse.
                    </dd>
                    <dt>18.30 Uhr</dt>
                    <dd>Jeder sollte wieder Hunger haben, denn jetzt gibt's was Richtiges zu essen.
                    Außerdem wahrscheinlich ein paar sentimentale Reden. Und Alkohol (endlich mehr Alkohol!)
                    Falls jemand eine peinliche Powerpointpräsentation planen sollte wird er von der Braut
                    mit Essen beworfen. 😁 </dd>
                    <dt>ab 21 Uhr</dt>
                    <dd>Musik, Tanzen, Alkohol (wohoo!), mit Brautsträußes schmeißen, ... das übliche halt. </dd>
                    <dt>ab 4 Uhr</dt>
                    <dd>Rausch ausschlafen (kein Alkohol mehr ☹️)</dd>
                    <br>
                    <dt>Bitte beachtet</dt>
                    <dd>
                        Bitte seid rechtzeitig vor 14 Uhr vor Ort.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
