<div class="container">
        <h2 class="section-heading text-center">Geschenke</h2>
        <hr class="primary">
    <div class="row">
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Hochzeitsgeschenke</h3>
            <hr class="light">
            <p>
            blablabla Geld

            </p>
            <p><small>(In order to make up for the lack of paper invitations, Cory spent more time than he’d care to admit making this website.)</small></p>
        </div>
        <div class="col-lg-6">
            <div class="text-center"><i class="fa fa-4x fa-cutlery"></i></div>
            <br>
            <h3 class="section-heading text-center">Kuchen</h3>
            <hr class="light">
            <p>
                Das Kuchenbuffet nach dem Sektempfang stellen wir selbst. Wenn ihr Lust
                und Zeit zum Backen habt, dann freuen wir uns sehr über mitgebrachte
                Kuchen. Bitte schreibt uns zur besseren Planbarkeit eine Email an
                ....
            </p>
            <p>
                blablabla
            </p>
        </div>
    </div>
</div>
