<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Das MMI Hotel</h2>
            <hr class="primary">
            <h3>Anfahrt</h3>
            <p>Das MMI Hotel befindet sich im Braunschweiger Stadtteil Riddagshausen.
            Die vollständige Adresse lautet <br>

            <adress>
                <a href="https://www.google.de/maps/place/Klostergang+53,+38104+Braunschweig/@52.268054,10.5736011,17z/data=!3m1!4b1!4m5!3m4!1s0x47aff5ac457878c9:0xc3a89a1055e9df71!8m2!3d52.268054!4d10.5757899" target="_blank"> Klostergang 53 </a><br>
                38104 Braunschweig <br>
                Telefon: 0531-3702-0 <br>
                E-Mail:   info@mmi-hotel.de <br>
            </adress></p>

            <p>
                Wenn ihr mit dem <b>Zug</b> bis zum Braunschweiger Hauptbahnhof anreist und nach langem Sitzen etwas spazieren gehen wollt ist das Hotel
                innerhalb von einer Dreiviertel Stunde zu Fuß erreichbar. Eine Google Maps Navigation findet
                ihr <a href="https://goo.gl/maps/Y3rMMBotupAxAk5a9">hier</a>. Alternativ erreicht ihr das
                Hotel in etwa 10 Minuten mit dem Taxi. Wenn ihr öffentliche Verkehrsmittel benutzen wollt,
                nehmt den Bus 411 ab Hauptbahnhof bis Kastanienallee, und steigt dann in die 413 bis zur Haltestelle Kreuzteich.
                Von dort ist es ein etwa 5 minütiger Spaziergang durch Riddagshausen bis zum MMI.
            </p>
			<p>
                Das MMI ist auch für eine Anreise mit dem <b>Auto</b> gut geeignet. Riddagshausen liegt im
                östlichen Teil Braunschweigs, nahe der A2 und A39. Im Hotel steht uns eine Tiefgarage mit 80
                Plätzen, sowie ein Außenbereich mit 80 weiteren Parkplätzen kostenfrei zur Verfügung.
            </p>
            <p> Mit <b>öffentlichen Verkehrsmitteln</b> kommt ihr bis zur Bushaltestelle <a href="https://www.google.de/maps/place/Braunschweig+Kreuzteich/@52.2702431,10.5714898,17z/data=!4m5!3m4!1s0x47aff5b29c758459:0xdc0cde0ebe08c653!8m2!3d52.2701701!4d10.5712898" target="_blank">
                Kreuzteich</a>, etwa 5 Minuten vom Hotel entfernt. Nehmt dafür Buslinien 413 oder 418.</p>
            <hr class="primary">
            <h3>Übernachten</h3>
            <p>
                Nach unserer Feier werden wir im MMI Hotel übernachten. Wenn ihr eine weite Anreise habt,
                und eine Übernachtungsmöglichkeit in Braunschweig sucht, haben wir hier einige Möglichkeiten
                zusammengetragen.
            </p>
            <p>Lasst uns wissen, wenn ihr Fragen habt.
			</p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">MMI Hotel</th>
                    <td>
                        Das <a href="https://www.mmi-hotel.de/" target="_blank">MMI</a> ist ein großes Tagungshotel mit Einzel- und Doppelzimmern.
                        Kostenpunkt:
                        <ul>
                            <li> Doppelzimmer: 149€ </li>
                            <li> Einzelzimmer: 99€ </li>
                        </ul>
                        Bis August 2021 ist ein Zimmerkontingent für uns vorgemerkt und unter dem Stichwort
                        "Adina und Gunnars Hochzeit" unter 0531-3702-0 reservierbar. Leider ist das Hotel nicht
                        das günstigste - dafür könnt ihr direkt von der Bar ins Zimmer fallen, und am nächsten
                        Morgen gemeinsam mit uns Frühstücken.
                    </td>
                </tr>
                <tr>
                    <th>In der Nähe</th>
                    <td>
                        In Fußläufiger Distanz zum MMI gibt es das <a href="https://www.hotel-landhaus-seela.de/zimmer.html" target="_blank">Landhaus Seela</a>
                        und das <a href="https://www.hotel-aquarius.de/" target="_blank">Hotel Aquarius</a>,
                        sowie die Ferienapartments <a href="https://www.appartementhotel-bs.de/de/start/">
                        Casa del Sol</a>.
                        Beide Hotels haben Doppelzimmer um circa 70€ pro Nacht, und einfache Ferienapartments liegen bei
                        unter 50€. Wenn ihr am nächsten Morgen gemeinsam mit uns im MMI frühstücken wollt, gebt uns gerne Bescheid - wir werden ein Frühstück
                        für euch dazu buchen.
                    </td>
                </tr>
                <tr>
                    <th>Innerhalb Braunschweigs</th>
                    <td>
                        Wenn ihr näher an Innenstadt oder Bahnhof (15-20 Minuten mit dem Rad, 10 mit dem Auto vom MMI entfernt)
                        übernachten wollt, gibts eine Menge Hotels und Unterkünfte unterschiedlicher Preisklassen.
                        Bei <a href="https://www.booking.com/searchresults.de.html?label=gen173nr-1FCAEoggI46AdIM1gEaDuIAQGYAQe4ARnIAQ_YAQHoAQH4AQuIAgGoAgO4Arjy_fMFwAIB&sid=6f9422d80438876230f592c5e205a0cd&tmpl=searchresults&ac_click_type=b&ac_position=0&checkin_month=9&checkin_monthday=19&checkin_year=2020&checkout_month=9&checkout_monthday=20&checkout_year=2020&class_interval=1&dest_id=-1751596&dest_type=city&dtdisc=0&from_sf=1&genius_rate=1&group_adults=2&group_children=0&iata=BWE&inac=0&index_postcard=0&label_click=undef&no_rooms=1&postcard=0&raw_dest_type=city&room1=A%2CA&sb_price_type=total&search_selected=1&shw_aparth=1&slp_r_match=0&srpvid=b87a7447acf500a0&ss=Braunschweig%2C%20Niedersachsen%2C%20Deutschland&ss_all=0&ss_raw=Braunschweig&ssb=empty&sshis=0&top_ufis=1&nflt=distance%3D1000%3B&rsf=#map_opened-b_google_map_thumbnail" target="_blank">
                        booking.com</a> findet ihr eine große Auswahl.
                    </td>
                </tr>
                <tr>
                    <th>Couch surfing</th>
                    <td>
                        Evtl könnten wir organisieren dass Gäste aus BS couches zur Verfügung stellen.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
