<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Wie konnte es soweit kommen?</h2>
            <hr class="primary">
            <p>
                Die Hauptschuldige an dieser Hochzeitsfeier ist die ehemalige Englisch Leistungskurs-Lehrerin des Brautpaares,
                Frau S. Ihr Unterricht war so erbärmlich schlecht, dass sich Adina und Gunnar - damals zwar seit
                der 5. Klasse in einer Stufe, aber sich gegenseitig vollkommen unbekannt - spöttisch zusammen
                taten, um sich gemeinsam wenigstens rudimentär auf ihre Abschlussprüfungen vorzubereiten.
                Im Zuge jugendlich-verschüchterter Annäherungsversuche ließen sie sich aus Versehen zu Moderatoren
                ihres Abiballs wählen (der Jahrgang wollte wohl mithelfen), und küssten sich das erste Mal bei der
                romantischen Dokumentation <a href="http://www.tastethewaste.com/info/film" target="_blank">
                "Taste the waste" </a> - den sie für ihren Englisch Leistungskurs anschauen wollten (Danke, Frau S.).
                Nach zwei Absagen bei Bewerbungen bei einem nicht näher genannten Automobilkonzern,
                aus jugendlichem Übermut, und zum Verdruss überbeschützender Elternteile, studierten sie irgendetwas
                Interessantes in Braunschweig und zogen zusammen. Nach insgesamt etwa 6 Jahren Studium und zahlreichen
                temporären Fernbeziehungen dachten sie, zwei Namen am Klingelschild sind einfach zu viele.
            </p>
            <p>
                Adina schätzt an Gunnar seine unendliche Geduld bei Steuererklärungen, Gunnar wiederum
                schätzt an Adina dass er sie für den Rest ihrer Tage damit aufziehen kann, dass sie kleiner ist
                als er. Gemeinsam genießen sie...
            </p>
        </div>
    </div>
</div>
