{% load static %}
<section id="wedding-party" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Trauzeugen und Helfer</h2>
                <hr class="primary">
                <p>
            Adina und Gunnar haben Glück ein hochkompetentes und übermotiviertes Team von Trauzeugen
            und Helfern zu haben. Sie stehen ihnen vor der Hochzeit mit Rat und Tat zur Seite, und
            sind vor und während der Hochzeit eure Ansprechpartner für eure Fragen und Koordination.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/tim.jpg' %}" class="img-responsive" alt="">
                    <h3>Natalie</h3>
                    <p class="text-muted">Tim is alright I guess.{% lorem  %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/253/253" class="img-responsive" alt="">
                    <h3>Matthias</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/254/254" class="img-responsive" alt="">
                    <h3>Kai</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/255/255" class="img-responsive" alt="">
                    <h3>????</h3>
                    <p class="text-muted">{% lorem %}</p>
                </div>
            </div>
        </div>
        <p>
            Wenn ihr Fragen habt, peinliche Hochzeitsspiele vorschlagen wollt, oder andere Dinge von denen
            das Brautpaar nichts wissen soll, dann werden euch die vier gerne helfen. Ihr erreicht sie
            unter  ....
        </p>
    </div>
</section>
